<nav>
  <a md-raised-button routerLink="/home" routerLinkActive="active">Home</a>
  <a md-raised-button routerLink="/route1" routerLinkActive="active">Route 1</a>
  <a md-raised-button routerLink="/route2" routerLinkActive="active">Route 2</a>
  <a md-raised-button routerLink="/route3" routerLinkActive="active">Route 3</a>
  <a md-raised-button routerLink="/route4" routerLinkActive="active">Route 4</a>
</nav>


<div class="main">
  <div [@routeAnimation]="prepRouteState(outlet)" style="position: relative;">
    <router-outlet #outlet="outlet"></router-outlet>
  </div>
</div>
